<p>Name: {{ data.getName() }}</p>
<p>Email: {{ data.getEmail() }}</p>
<p>Subject: {{ data.getSubject() }}</p>
<p>Service: {{ data.getService() }}</p>
<strong>Message:</strong>
<p>Content: {{ data.getContent()|nl2br }}</p>